<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BRNETUploadDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="BRNetUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BRNetUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="BRNETUploadDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <BRNETUploadDownload.Properties.Settings>
      <setting name="BRNETUploadDownload_ImportExportService_Service" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
    </BRNETUploadDownload.Properties.Settings>
    <BRNetUtility.Properties.Settings>
      <setting name="BRNETUploadDownload_ImportExportService_Service" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
      <setting name="BRNETUploadDownload_WebIEService_IEService" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
      <!-- ////////////////////////////////////////// -->
    </BRNetUtility.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="BRDBType" value="SQLSERVER"/>
    <add key="HeadOfficeBranchID" value="000"/>
    <add key="BankID" value="032"/>
    <add key="OurBranchID" value="000"/>
    <add key="MFIBranchID" value="00"/>
    <!-- ////////////// NOTE!!! ////////////////////// -->
    <!-- 1 = Connect to Live Environment, 0 = connect to Test Environment -->
    <add key="IsLiveEnv" value="1"/>
    <!-- //////////////////////////////////////// -->
    <add key="CachedTimeInMinutesPerItem" value="15"/>
    <add key="DataAccessTimeOut" value="120"/>
    <add key="ImagePath" value=""/>
    <add key="sysEnc" value="0"/>
    <add key="Rem" value="1"/>
    <add key="ClearMFI" value="1"/>
    <add key="Trunc" value="1"/>
    <add key="sysType" value="BRNET"/>
    <add key="ReaderType" value="2"/>
    <add key="strSystem" value="str"/>
    <add key="Country" value="TZ"/>
    <add key="DefaultLanguage" value="en"/>
    <add key="AuditRequired" value="true"/>
    <add key="AuditType" value=""/>
    <add key="Module" value=""/>
    <add key="ETACH" value="true"/>
    <add key="keypass" value="UEBzc1BockBzZQ=="/>
    <add key="CertUser" value="MBTLTZ0"/>
    <add key="TokenBase" value="false"/> 
    <add key="Sign" value="true"/>
    <add key="EnableEncryption" value="true" />
    <add key="UseCertificate" value="false" />
    <add key="PublicKeyPath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\my_stuff\bank_public_key.pem" />
    <add key="PrivateKeyPath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\my_stuff\my_private_key.pem" />
    <add key="CertificatePath" value="" />
    <add key="CertificatePassword" value="" />
    <add key="IncomingFiles" value="C:\temp\Incoming"/>
    <add key="IncomingSignedFiles" value="C:\GeneratedDemoTestFiles\Incoming"/>
    <add key ="Responses" value ="C:\temp\gateway\output"/>
    <add key="Archive" value="C:\GeneratedDemoTestFiles\Archive"/>
    <add key="OutgoingFiles" value="C:\GeneratedDemoTestFiles\Outgoing"/>
    <add key="OutgoingSignedFiles" value="C:\GeneratedDemoTestFiles\Outgoing"/>
    <add key="MIPsEFTUploadPath" value="C:\GeneratedDemoTestFiles\Outgoing"/>
    <add key="strBatchPath" value="C:\ClearingFiles\Cert\SignatureClient\"/>
    <add key="strJavaExeInstallation" value="C:\Program Files\Java\jre1.8.0_161\bin\java.exe"/>
    <add key="strPGPExe" value="C:\Program Files (x86)\GnuPG\bin\gpg.exe"/>
    <add key="strDSkeyFile" value="C:\ClearingFiles\Cert\MBTLTZTZ.jks"/>
    <add key="ClearingErrorLogFilePath" value="C:\TestEJs"/>
    <add key="ClearingArchives" value="C:\TestEJs"/>
    <add key="PrivateKeyPath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\mykey.p8.pem"/>
    <add key="PublicKeyPath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\mykey.pubkey.pem"/>
    <add key="CertificatePath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\keystore.p12"/>
    <add key="CertificatePassword" value="password123"/>
    <add key="UseCertificate" value="true"/>
    <add key="EnableEncryption" value="true"/>
    <add key="SharedKey" value="YourSharedSymmetricKeyHere"/>
  </appSettings>
  <userSettings>
    <BRNETUploadDownload.Properties.Settings>
      <setting name="ImportExportService" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
    </BRNETUploadDownload.Properties.Settings>
    <BRNetUtility.Properties.Settings>
      <setting name="ImportExportService" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
      <!-- ////////////////////////////////////////// -->
    </BRNetUtility.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
