<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BRNETUploadDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="BRNetUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BRNetUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="BRNETUploadDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <BRNETUploadDownload.Properties.Settings>
      <setting name="BRNETUploadDownload_ImportExportService_Service" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
    </BRNETUploadDownload.Properties.Settings>
    <BRNetUtility.Properties.Settings>
      <setting name="BRNETUploadDownload_ImportExportService_Service" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
      <setting name="BRNETUploadDownload_WebIEService_IEService" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
      <!-- ////////////////////////////////////////// -->
    </BRNetUtility.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="BRDBType" value="SQLSERVER"/>
    <add key="HeadOfficeBranchID" value="000"/>
    <add key="BankID" value="032"/>
    <add key="OurBranchID" value="000"/>
    <add key="MFIBranchID" value="00"/>
    <!-- ////////////// NOTE!!! ////////////////////// -->
    <!-- 1 = Connect to Live Environment, 0 = connect to Test Environment -->
    <add key="IsLiveEnv" value="1"/>
    <!-- //////////////////////////////////////// -->
    <add key="CachedTimeInMinutesPerItem" value="15"/>
    <add key="DataAccessTimeOut" value="120"/>
    <add key="ImagePath" value=""/>
    <add key="sysEnc" value="0"/>
    <add key="Rem" value="1"/>
    <add key="ClearMFI" value="1"/>
    <add key="Trunc" value="1"/>
    <add key="sysType" value="BRNET"/>
    <add key="ReaderType" value="2"/>
    <add key="strSystem" value="str"/>
    <add key="Country" value="TZ"/>
    <add key="DefaultLanguage" value="en"/>
    <add key="AuditRequired" value="true"/>
    <add key="AuditType" value=""/>
    <add key="Module" value=""/>
    <add key="ETACH" value="true"/>
    <add key="keypass" value="UEBzc1BockBzZQ=="/>
    <add key="CertUser" value="MBTLTZ0"/>
    <add key="TokenBase" value="false"/> 
    <add key="Sign" value="false"/> 
    <add key="IncomingFiles" value="C:\temp\Incoming"/>
    <add key="IncomingSignedFiles" value="C:\GeneratedDemoTestFiles\Incoming"/>
    <add key ="Responses" value ="C:\temp\gateway\output"/>
    <add key="Archive" value="C:\GeneratedDemoTestFiles\Archive"/>
    <add key="OutgoingFiles" value="C:\GeneratedDemoTestFiles\Outgoing"/>
    <add key="OutgoingSignedFiles" value="C:\GeneratedDemoTestFiles\Outgoing"/>
    <add key="MIPsEFTUploadPath" value="C:\GeneratedDemoTestFiles\Outgoing"/>
    <add key="strBatchPath" value="C:\ClearingFiles\Cert\SignatureClient\"/>
    <add key="strJavaExeInstallation" value="C:\Program Files\Java\jre1.8.0_161\bin\java.exe"/>
    <add key="strPGPExe" value="C:\Program Files (x86)\GnuPG\bin\gpg.exe"/>
    <add key="strDSkeyFile" value="C:\ClearingFiles\Cert\MBTLTZTZ.jks"/>
    <add key="ClearingErrorLogFilePath" value="C:\TestEJs"/>
    <add key="ClearingArchives" value="C:\TestEJs"/>
    <add key="BRSystem" value="str" />
    <add key="configFilePath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\TzIncomingClearingService\App.config" />
    
    
    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="BRNET_Safaricom"/>
    <add key="strDBServerName" value="172.16.2.14"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    
     <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
	   <add key="strDatabaseName" value="DEV"/>
	   <add key="strDBServerName" value="DEVK\MSSQLSERVER01"/>
	   <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
	   <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
	   <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->

	  <add key="str-DBServerName" value="172.16.2.42\SQL_2022, 3020"/>
 
	  <add key="str-DatabaseName" value="BRNET_KCBLEOM"/>
	  <add key="str-BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
	  <add key="str-BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    
     <!--<add key="BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
   <add key="DatabaseName" value="CLEARING"/>
   <add key="DBServerName" value="10.10.100.237"/>
   <add key="BRUserPassword" value="NJy3hg/Ftvx/I88BkLdQorCuGPj0xruK9Ngek6kPdj8lxWfDMg3hEMhU8BXsf5+l"/>-->
   <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
   <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    
   <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
   <add key="strDatabaseName" value="CBS_TSEDEYREPORTS1"/>
   <add key="strDBServerName" value="10.10.102.13\DB1_REPORT"/>
   <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
   <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
   <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    
    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
   <add key="strDatabaseName" value="NBE_CLEARING_EXAMINIATION_DB"/>
   <add key="strDBServerName" value="172.21.7.40"/>
   <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
   <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
   <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    
    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
   <add key="strDatabaseName" value="CBS_SIDAMA_LIVE"/>
   <add key="strDBServerName" value="DEVK\SQL2022"/>
   <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
   <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
   <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    
     <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
	   <add key="strDatabaseName" value="BRNET_JBBPRODUCTION_ACH"/>
	   <add key="strDBServerName" value="10.0.1.130"/>
	   <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
	   <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
	   <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->

     <!--<add key="strDBServerName" value="10.0.1.18" />
     <add key="strDatabaseName" value="BRNET_JBBPRODUCTION" />
     <add key="strBRUserName" value="lqybviTDS5naFHeypVHR949Fe67wVVkRKXwdBXdWNCc6rMvY0kDz2ZRfMmqn6Z78" />
     <add key="strBRUserPassword" value="l50DIO6TXJa5M7qFktgLd5rQO9BQSmk12E4EXyV6MkYrQrQBcewfMYiIaKSqDT/eWPYl4+ksJrr/dmbyPNzOvKbEnj+8iKz1BtzgXNQ2tSYe9LuC5zcASgOXbRbwcStC" />
     <add key="strSYSADMIN1UserName" value="34afStvO+QAZjpOJw4XSAh+iKP103gLG01rlp1lOM1g=" />
     <add key="strSYSADMIN1Password" value="+M6NFewje97Z4qC1lWSqKgKtbtaOEOWNEIQ3tGisgV6T5N6jj9wLoPLkok1gh2Kr" />--> 

    <!--<add key="strDBServerName" value="10.0.1.18" />
     <add key="strDatabaseName" value="BRNET_JBBPRODUCTION" />
     <add key="strBRUserName" value="lqybviTDS5naFHeypVHR949Fe67wVVkRKXwdBXdWNCc6rMvY0kDz2ZRfMmqn6Z78" />
     <add key="strBRUserPassword" value="aOcOF+Yp5xzD+JeVSfT0c6BPMIAh4Qwz+cuQRPYan5xaWsoHo5cyCsXuLfL2i+G9Ow2v3Fk/cRHusOozInirjToLbbY2sZFj" />
     <add key="strSYSADMIN1UserName" value="34afStvO+QAZjpOJw4XSAh+iKP103gLG01rlp1lOM1g=" />
     <add key="strSYSADMIN1Password" value="+M6NFewje97Z4qC1lWSqKgKtbtaOEOWNEIQ3tGisgV6T5N6jj9wLoPLkok1gh2Kr" />-->

    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo=" />
    <add key="strDatabaseName" value="BROWSER_FTB" />
    <add key="strDBServerName" value="192.168.0.82" />
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->

    <!--<add key="strBRUserName" value="nsNQEhPloB6a6vP7UxPttkSI1c9X5yN0atZzJ5I9jy0FQbOisxDH93vIldXivQ9/" />
    <add key="strDatabaseName" value="BRNET_PRODUCTION" />
    <add key="strDBServerName" value="192.168.0.220\MIG2016"/>
    <add key="strBRUserPassword" value="FssLFM6g59l0r/+oV0jJKibXh5CfsU+aOQ9SJ8l0V+QuInLHhQrGXZMkRU924CDXqPfUcMAl8wxPJ+iO3wQbTWRa0uvG5+FV" />
    <add key="strSYSADMIN1UserName" value="H7jvuGEHttQSHad0ry9gZ0+Q/EF+lMA5ojnQHBFdOA0=" />
    <add key="strSYSADMIN1Password" value="A7pv7tljDAuyv5LqsEbVLsNg55DMX1kc68IVTrCvSNwwda7dsSogvGvss8TxdJtTC/Rfi83VXyTKH17WxK9+z4PHtOo1tg22" />-->
    
    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="BRNET_Paramount"/>
    <add key="strDBServerName" value="172.16.2.13\sql2014"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    
        
     <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
      <add key="strDatabaseName" value="ParamountNetLive"/>
      <add key="strDBServerName" value="172.16.20.2"/>
      <add key="strBRUserPassword" value="vaFMeylDjjjRj2TYUHcAorNeF1UNhMFycNx6O0JOfkUM2N4RpgXO6DCzkQ6KCdrpoED2sK10Eap9voforTakWsUY+fi0KQJE"/>
      <add key="strSYSADMIN1UserName" value="/8UX/xgvJcT/4BXndXBoECLchmKHEnx3kzEfOuTgGG8="/>
      <add key="strSYSADMIN1Password" value="ZfRYkztTeIQVhij/02z43cBF8MFbm4nV9OF+LHz7BtlE2kWfimNCjYAzyPpTSeFeOyJKHxTicrz3l6ub+NNSKbPgSL1sWo8U"/>-->

    <!--.11--><!--
    <add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="SBM_Clearing"/>
    <add key="strDBServerName" value="192.168.0.16\SQL2014"/>
    <add key="strBRUserPassword" value="5SB/DjJDBaXMLA8vldEoCKJPK+n1SrjxU2P+VEw8mUlWzDQifS2XdDGndjNMxlcj"/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="ANwyOk15G9GRMNTa8h6L9yIj7XMvJSOwD2B4ZmcAXJ6rDDBF+4y/eaHfpnEHI1mj"/>-->
    
    
    <!--<add key="strDBServerName" value="10.0.1.18" />
      <add key="strDatabaseName" value="BRNET_JBBPRODUCTION" />
      <add key="strBRUserName" value="lqybviTDS5naFHeypVHR949Fe67wVVkRKXwdBXdWNCc6rMvY0kDz2ZRfMmqn6Z78" />
      <add key="strBRUserPassword" value="XgS+Ma0d7wPviLyiTRW0x6c/avHAp0dYPvFONX5y98H3rgYMYcbgdtL+KjBMfahC" />
      <add key="strSYSADMIN1UserName" value="34afStvO+QAZjpOJw4XSAh+iKP103gLG01rlp1lOM1g=" />
       <add key="strBRUserPassword" value="5SB/DjJDBaXMLA8vldEoCKJPK+n1SrjxU2P+VEw8mUlWzDQifS2XdDGndjNMxlcj" />
      <add key="strSYSADMIN1Password" value="U4ba7T2oWbnwsSdfqcb3LgBNHBqxAnsm9qZ2++2ur1IOc7soJijIWZKzQloHwqyG" />-->
    
      
    <!--Paramount Live-->
    <!--<add key="strBRUserName" value="lqybviTDS5naFHeypVHR949Fe67wVVkRKXwdBXdWNCc6rMvY0kDz2ZRfMmqn6Z78"/>
       <add key="strDatabaseName" value="BRNET_JBBPRODUCTION"/>
       <add key="strSYSADMIN1Password" value="ANwyOk15G9GRMNTa8h6L9yIj7XMvJSOwD2B4ZmcAXJ6rDDBF+4y/eaHfpnEHI1mj" />
       <add key="strDBServerName" value="10.0.1.18"/>
       <add key="strBRUserPassword" value="db9NOcKb6xHIE1qF+LpAA716oytFclH8lKDOhd5QXfqOPK5eYErN9+OwvvV/LxOA"/>
       <add key="strSYSADMIN1UserName" value="34afStvO+QAZjpOJw4XSAh+iKP103gLG01rlp1lOM1g="/>
       <add key="strSYSADMIN1Password" value="dIhJaBtIHsBGjNo3KPoCsLuySzX5QYoquzk11o8wGE5CwzuWA7vniXqqkxp2+/pC"/>  -->
     
    <!--<add key="strDBServerName" value="10.0.1.18" />
	    <add key="strDatabaseName" value="BRNet_Live" />
	    <add key="strBRUserName" value="lqybviTDS5naFHeypVHR949Fe67wVVkRKXwdBXdWNCc6rMvY0kDz2ZRfMmqn6Z78" />
      <add key="strBRUserPassword" value="STjdEA1R0nQOCKXp31gEThePPGcUUe7Osf6qCzwLLBg4nOqdfPAe06S+hkVqN0LO" />
      <add key="strSYSADMIN1UserName" value="34afStvO+QAZjpOJw4XSAh+iKP103gLG01rlp1lOM1g=" />
      <add key="strSYSADMIN1Password" value="dIhJaBtIHsBGjNo3KPoCsLuySzX5QYoquzk11o8wGE5CwzuWA7vniXqqkxp2+/pC" />
    
    <add key="strBRUserName" value="lqybviTDS5naFHeypVHR949Fe67wVVkRKXwdBXdWNCc6rMvY0kDz2ZRfMmqn6Z78"/>
   <add key="strDatabaseName" value="BRNET_JBBPRODUCTION"/>
   <add key="strDBServerName" value="10.0.1.18"/>
   <add key="strBRUserPassword" value="STjdEA1R0nQOCKXp31gEThePPGcUUe7Osf6qCzwLLBg4nOqdfPAe06S+hkVqN0LO"/>
   <add key="strSYSADMIN1UserName" value="34afStvO+QAZjpOJw4XSAh+iKP103gLG01rlp1lOM1g="/>
   <add key="strSYSADMIN1Password" value="dIhJaBtIHsBGjNo3KPoCsLuySzX5QYoquzk11o8wGE5CwzuWA7vniXqqkxp2+/pC"/>-->
    <!--<add key="strDBServerName" value="10.0.1.18" />
    <add key="strDatabaseName" value="BRNET_JBBPRODUCTION" />
    <add key="strBRUserName" value="lqybviTDS5naFHeypVHR949Fe67wVVkRKXwdBXdWNCc6rMvY0kDz2ZRfMmqn6Z78" />
    <add key="strBRUserPassword" value="XgS+Ma0d7wPviLyiTRW0x6c/avHAp0dYPvFONX5y98H3rgYMYcbgdtL+KjBMfahC" />
    <add key="strSYSADMIN1UserName" value="34afStvO+QAZjpOJw4XSAh+iKP103gLG01rlp1lOM1g=" />
    <add key="strSYSADMIN1Password" value="+M6NFewje97Z4qC1lWSqKgKtbtaOEOWNEIQ3tGisgV6T5N6jj9wLoPLkok1gh2Kr" />-->
    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
      <add key="strDatabaseName" value="BRNET_SBMKenya"/>
      <add key="strDBServerName" value="DEV-WKS26\SQL2017"/>
      <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
      <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
      <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->

    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="SBM_UAT"/>
    <add key="strDBServerName" value="192.168.0.11\mssqlserver2014"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    
     <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
      <add key="strDatabaseName" value="BRNET_FTB_NEW_2"/>
      <add key="strDBServerName" value="172.16.2.18"/>
      <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
      <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
      <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->

    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
      <add key="strDatabaseName" value="BRNET_JBBPRODUCTION"/>
      <add key="strDBServerName" value="172.16.2.18"/>
      <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
      <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
      <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    
     <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
      <add key="strDatabaseName" value="BRNET_Maendeleo"/>
      <add key="strDBServerName" value="172.16.2.13\SQL2014"/>
      <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
      <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
      <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
      
      <!--<add key="strDatabaseNameMIPS" value="clrguploads"/>
      <add key="strDBServerNameMIPS" value="192.168.0.233"/>
      <add key="strBRUserPasswordMIPS" value="3HMJ3Co*3lLB3N:k3APf3ox|"/>-->
    
    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
      <add key="strDatabaseName" value="MKCB"/>
      <add key="strDBServerName" value="172.16.2.13\sql2014"/>
      <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
      <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
      <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    
    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="BRNET_MHB_LIVE"/>
    <add key="strDBServerName" value="172.16.2.13\sql2017"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->

    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="CRBSource"/>
    <add key="strDBServerName" value="192.168.101.224"/>
    <add key="strBRUserPassword" value="yDbxB+9zJw1Pyi8oPvjDyvkT5pWvzHm5g0fcX/lzPZg="/>
    <add key="strSYSADMIN1UserName" value="/8UX/xgvJcT/4BXndXBoECLchmKHEnx3kzEfOuTgGG8="/>
    <add key="strSYSADMIN1Password" value="RyS6AbNIPWVoeYnfuh2jQ9K1alJiAcc3TCZc7SJpeeg="/>-->

   
    
    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
      <add key="strDatabaseName" value="ParamountNetTest12"/>
      <add key="strDBServerName" value="192.168.101.224"/>
      <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
      <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
      <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
      <add key="strDatabaseName" value="BRNET_UCHUMI"/>
      <add key="strDBServerName" value="172.16.2.13\sql2012"/>
      <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
      <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
      <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    <!-- ////////////// NOTE!!! ///////////////////// -->
    <!-- IP Address for Test Server -->
    <add key="IPAddress" value="172.16.2.149"/>
   
    <!-- Name of Test DB -->
    <add key="TestDBName" value="BRNET_Uchumi"/>
    <!-- //////////////////////////////////////// -->
    <add key="AuditLogPath" value="C:\BRAuditLog\"/>
    <add key="ErrorLogPath" value="C:\BRExceptionLog\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <BRNETUploadDownload.Properties.Settings>
      <setting name="ImportExportService" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
    </BRNETUploadDownload.Properties.Settings>
    <BRNetUtility.Properties.Settings>
      <setting name="ImportExportService" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
      <!-- ////////////////////////////////////////// -->
    </BRNetUtility.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
