<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching"/>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </backingStores>
    <cacheManagers>
      <add name="Default Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
    </cacheManagers>
  </cachingConfiguration>
  <appSettings>
    <add key="Telerik.Skin" value="Windows7"/>
    <add key="ReportWriter" value="http://192.168.0.11:9994/ReportWriter/"/>
    <add key="BRBALService" value="http://localhost:16001/BRBALService/"/>
    <add key="BRCoreBALService" value="http://localhost:14901/BRCoreBALService/"/>
    <add key="BRDALService" value="http://localhost:15001/BRDALService/"/>
    <add key="BRCoreDALService" value="http://localhost:14872/BRCoreDALService/"/>
    <add key="SessionTimeOut" value="100"/>
    <add key="BRBALTimeOut" value="60"/>
    <add key="BRDALTimeOut" value="60"/>
    <add key="CachedTimeInMinutesPerItem" value="15"/>
    <add key="LicenseType" value="SAASa"/>
    <!--value="License"-->
    <add key="Systems" value="BRNET_KCBL,BRNET_DEV"/>
    <add key="Language" value="English-en,French-fr,Russian-ru"/>
    <add key="SystemUser" value="BRNET_KCBL,BRNET_DEV"/>

    <!--<add key="BRReportService" value="http://Localhost:8882/ReportService.svc" /> -->
    <add key="BRReportService" value="http://172.16.2.14:8013/ReportService.svc" />
    
    <add key="BRSWIFTRTGSService" value="http://localhost:41754/BRSWIFTRTGSService/"/>
    <add key="UseBRSWIFTRTGSService" value="true"/>


    <add key="BRNET_COOPBTZ-DBServerName" value="DESKTOP-K65ALMO\MSSQLSERVER2022"/>
    <add key="BRNET_COOPBTZ-DatabaseName" value="BRNET_COOPBTZ"/>
    <add key="BRNET_COOPBTZ-BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="BRNET_COOPBTZ-BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="BRNET_COOPBTZ-BRUserKey" value="NlZkIaoC+3dl/BpjRaNAMAZwvJVa1HTim+NH71bFsT/R5YUbZK1TX6ENpGvQAmyxQ1WfGXUnzuwZt5sNOBfnn+oy30v2BGuR"/>
    <add key="BRNET_COOPBTZ-SYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="BRNET_COOPBTZ-SYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    <add key="BRNET_COOPBTZ-SYSADMIN1Key" value="p1vl+BMrHp7bgg9cnZbCWTrWwCEybVl8f4hSDzaQf5FXheSvduqYqn80/McLGGJz+Pua11ElHVUKYS4qFAJVss7uQ8TyBAEd"/>
    <add key="BRNET_COOPBTZ-SYSADMIN2UserName" value="lVqM3lZ7rfeCIqbigfuJOznTJugaA/yiiCXLYG0GSps="/>
    <add key="BRNET_COOPBTZ-SYSADMIN2Password" value="PUHMLO7SyLiutVSv+7XP6IX/oBQ48ynJmifJH2KsvWM="/>
    <add key="BRNET_COOPBTZ-SYSADMIN2Key" value="P8uBI1FPuqfl/pq9XE6Aw9otBWrGneiUdQ0y10kLUzbspj2P87HZbKGB8/HLsA/ZBq+LgpJqc1gZuQNVXvgB/zld6ZpCP7Vr"/>
    <add key="BRNET_COOPBTZ-CheckSum1" value="jmoBVVxfURNlSyQV6T3WNC4o3J0fqEAdtQKS1MrWg1CE/Oi62gfTh3BUKMWF4Y35"/>
    <add key="BRNET_COOPBTZ-CheckSum2" value="6d3RQQLWP53ezO5eI2htFoYNhEswPsNzZFNU/nKAiTco7W4l2J2rD1cVRC/Z6Twi"/>
    <add key="BRNET_COOPBTZ-CheckSum3" value="auLDMkt4GedFqIxQdRaFGcBJQB6dBLD8ChKPG8mEVFEZXx50ZkByC8CSk5vW7fyP"/>

    <add key="BRNET_KCBL_UAT_8TH-DBServerName" value="172.16.2.42\SQL_2022"/>
    <add key="BRNET_KCBL_UAT_8TH-DatabaseName" value="BRNET_KCBL_UAT_8TH"/>
    <add key="BRNET_KCBL_UAT_8TH-BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="BRNET_KCBL_UAT_8TH-BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="BRNET_KCBL_UAT_8TH-BRUserKey" value="NlZkIaoC+3dl/BpjRaNAMAZwvJVa1HTim+NH71bFsT/R5YUbZK1TX6ENpGvQAmyxQ1WfGXUnzuwZt5sNOBfnn+oy30v2BGuR"/>
    <add key="BRNET_KCBL_UAT_8TH-SYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="BRNET_KCBL_UAT_8TH-SYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    <add key="BRNET_KCBL_UAT_8TH-SYSADMIN1Key" value="p1vl+BMrHp7bgg9cnZbCWTrWwCEybVl8f4hSDzaQf5FXheSvduqYqn80/McLGGJz+Pua11ElHVUKYS4qFAJVss7uQ8TyBAEd"/>
    <add key="BRNET_KCBL_UAT_8TH-SYSADMIN2UserName" value="lVqM3lZ7rfeCIqbigfuJOznTJugaA/yiiCXLYG0GSps="/>
    <add key="BRNET_KCBL_UAT_8TH-SYSADMIN2Password" value="PUHMLO7SyLiutVSv+7XP6IX/oBQ48ynJmifJH2KsvWM="/>
    <add key="BRNET_KCBL_UAT_8TH-SYSADMIN2Key" value="P8uBI1FPuqfl/pq9XE6Aw9otBWrGneiUdQ0y10kLUzbspj2P87HZbKGB8/HLsA/ZBq+LgpJqc1gZuQNVXvgB/zld6ZpCP7Vr"/>
    <add key="BRNET_KCBL_UAT_8TH-CheckSum1" value="jmoBVVxfURNlSyQV6T3WNC4o3J0fqEAdtQKS1MrWg1CE/Oi62gfTh3BUKMWF4Y35"/>
    <add key="BRNET_KCBL_UAT_8TH-CheckSum2" value="6d3RQQLWP53ezO5eI2htFoYNhEswPsNzZFNU/nKAiTco7W4l2J2rD1cVRC/Z6Twi"/>
    <add key="BRNET_KCBL_UAT_8TH-CheckSum3" value="auLDMkt4GedFqIxQdRaFGcBJQB6dBLD8ChKPG8mEVFEZXx50ZkByC8CSk5vW7fyP"/>

    <add key="BRNET_TCBL-DBServerName" value="172.16.2.42\SQL_2022"/>
    <add key="BRNET_TCBL-DatabaseName" value="KCBL_QA_DEV"/>
    <add key="BRNET_TCBL-BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="BRNET_TCBL-BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="BRNET_TCBL-BRUserKey" value="NlZkIaoC+3dl/BpjRaNAMAZwvJVa1HTim+NH71bFsT/R5YUbZK1TX6ENpGvQAmyxQ1WfGXUnzuwZt5sNOBfnn+oy30v2BGuR"/>
    <add key="BRNET_TCBL-SYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="BRNET_TCBL-SYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    <add key="BRNET_TCBL-SYSADMIN1Key" value="p1vl+BMrHp7bgg9cnZbCWTrWwCEybVl8f4hSDzaQf5FXheSvduqYqn80/McLGGJz+Pua11ElHVUKYS4qFAJVss7uQ8TyBAEd"/>
    <add key="BRNET_TCBL-SYSADMIN2UserName" value="lVqM3lZ7rfeCIqbigfuJOznTJugaA/yiiCXLYG0GSps="/>
    <add key="BRNET_TCBL-SYSADMIN2Password" value="PUHMLO7SyLiutVSv+7XP6IX/oBQ48ynJmifJH2KsvWM="/>
    <add key="BRNET_TCBL-SYSADMIN2Key" value="P8uBI1FPuqfl/pq9XE6Aw9otBWrGneiUdQ0y10kLUzbspj2P87HZbKGB8/HLsA/ZBq+LgpJqc1gZuQNVXvgB/zld6ZpCP7Vr"/>
    <add key="BRNET_TCBL-CheckSum1" value="jmoBVVxfURNlSyQV6T3WNC4o3J0fqEAdtQKS1MrWg1CE/Oi62gfTh3BUKMWF4Y35"/>
    <add key="BRNET_TCBL-CheckSum2" value="6d3RQQLWP53ezO5eI2htFoYNhEswPsNzZFNU/nKAiTco7W4l2J2rD1cVRC/Z6Twi"/>
    <add key="BRNET_TCBL-CheckSum3" value="auLDMkt4GedFqIxQdRaFGcBJQB6dBLD8ChKPG8mEVFEZXx50ZkByC8CSk5vW7fyP"/>

    <add key="BRNET_KCBL-DBServerName" value="CSK-BRNET-003"/>
    <add key="BRNET_KCBL-DatabaseName" value="BRNET_MB_LIVE"/>
    <add key="BRNET_KCBL-BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="BRNET_KCBL-BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="BRNET_KCBL-BRUserKey" value="NlZkIaoC+3dl/BpjRaNAMAZwvJVa1HTim+NH71bFsT/R5YUbZK1TX6ENpGvQAmyxQ1WfGXUnzuwZt5sNOBfnn+oy30v2BGuR"/>
    <add key="BRNET_KCBL-SYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="BRNET_KCBL-SYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    <add key="BRNET_KCBL-SYSADMIN1Key" value="p1vl+BMrHp7bgg9cnZbCWTrWwCEybVl8f4hSDzaQf5FXheSvduqYqn80/McLGGJz+Pua11ElHVUKYS4qFAJVss7uQ8TyBAEd"/>
    <add key="BRNET_KCBL-SYSADMIN2UserName" value="lVqM3lZ7rfeCIqbigfuJOznTJugaA/yiiCXLYG0GSps="/>
    <add key="BRNET_KCBL-SYSADMIN2Password" value="PUHMLO7SyLiutVSv+7XP6IX/oBQ48ynJmifJH2KsvWM="/>
    <add key="BRNET_KCBL-SYSADMIN2Key" value="P8uBI1FPuqfl/pq9XE6Aw9otBWrGneiUdQ0y10kLUzbspj2P87HZbKGB8/HLsA/ZBq+LgpJqc1gZuQNVXvgB/zld6ZpCP7Vr"/>
    <add key="BRNET_KCBL-CheckSum1" value="jmoBVVxfURNlSyQV6T3WNC4o3J0fqEAdtQKS1MrWg1CE/Oi62gfTh3BUKMWF4Y35"/>
    <add key="BRNET_KCBL-CheckSum2" value="6d3RQQLWP53ezO5eI2htFoYNhEswPsNzZFNU/nKAiTco7W4l2J2rD1cVRC/Z6Twi"/>
    <add key="BRNET_KCBL-CheckSum3" value="auLDMkt4GedFqIxQdRaFGcBJQB6dBLD8ChKPG8mEVFEZXx50ZkByC8CSk5vW7fyP"/>

    <add key="BRNET_KCBL_2025-DBServerName" value="172.16.2.42\SQL_2019"/>
    <add key="BRNET_KCBL_2025-DatabaseName" value="BRNET_KCBL_2025"/>
    <add key="BRNET_KCBL_2025-BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="BRNET_KCBL_2025-BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="BRNET_KCBL_2025-BRUserKey" value="NlZkIaoC+3dl/BpjRaNAMAZwvJVa1HTim+NH71bFsT/R5YUbZK1TX6ENpGvQAmyxQ1WfGXUnzuwZt5sNOBfnn+oy30v2BGuR"/>
    <add key="BRNET_KCBL_2025-SYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="BRNET_KCBL_2025-SYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    <add key="BRNET_KCBL_2025-SYSADMIN1Key" value="p1vl+BMrHp7bgg9cnZbCWTrWwCEybVl8f4hSDzaQf5FXheSvduqYqn80/McLGGJz+Pua11ElHVUKYS4qFAJVss7uQ8TyBAEd"/>
    <add key="BRNET_KCBL_2025-SYSADMIN2UserName" value="lVqM3lZ7rfeCIqbigfuJOznTJugaA/yiiCXLYG0GSps="/>
    <add key="BRNET_KCBL_2025-SYSADMIN2Password" value="PUHMLO7SyLiutVSv+7XP6IX/oBQ48ynJmifJH2KsvWM="/>
    <add key="BRNET_KCBL_2025-SYSADMIN2Key" value="P8uBI1FPuqfl/pq9XE6Aw9otBWrGneiUdQ0y10kLUzbspj2P87HZbKGB8/HLsA/ZBq+LgpJqc1gZuQNVXvgB/zld6ZpCP7Vr"/>
    <add key="BRNET_KCBL_2025-CheckSum1" value="jmoBVVxfURNlSyQV6T3WNC4o3J0fqEAdtQKS1MrWg1CE/Oi62gfTh3BUKMWF4Y35"/>
    <add key="BRNET_KCBL_2025-CheckSum2" value="6d3RQQLWP53ezO5eI2htFoYNhEswPsNzZFNU/nKAiTco7W4l2J2rD1cVRC/Z6Twi"/>
    <add key="BRNET_KCBL_2025-CheckSum3" value="auLDMkt4GedFqIxQdRaFGcBJQB6dBLD8ChKPG8mEVFEZXx50ZkByC8CSk5vW7fyP"/>


    <add key="BRNET_LIVE_COPY-DBServerName" value="192.168.0.138\sql2017"/>
    <add key="BRNET_LIVE_COPY-DatabaseName" value="BRNET_LIVE_COPY"/>
    <add key="BRNET_LIVE_COPY-BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="BRNET_LIVE_COPY-BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="BRNET_LIVE_COPY-BRUserKey" value="NlZkIaoC+3dl/BpjRaNAMAZwvJVa1HTim+NH71bFsT/R5YUbZK1TX6ENpGvQAmyxQ1WfGXUnzuwZt5sNOBfnn+oy30v2BGuR"/>
    <add key="BRNET_LIVE_COPY-SYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="BRNET_LIVE_COPY-SYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    <add key="BRNET_LIVE_COPY-SYSADMIN1Key" value="p1vl+BMrHp7bgg9cnZbCWTrWwCEybVl8f4hSDzaQf5FXheSvduqYqn80/McLGGJz+Pua11ElHVUKYS4qFAJVss7uQ8TyBAEd"/>
    <add key="BRNET_LIVE_COPY-SYSADMIN2UserName" value="lVqM3lZ7rfeCIqbigfuJOznTJugaA/yiiCXLYG0GSps="/>
    <add key="BRNET_LIVE_COPY-SYSADMIN2Password" value="PUHMLO7SyLiutVSv+7XP6IX/oBQ48ynJmifJH2KsvWM="/>
    <add key="BRNET_LIVE_COPY-SYSADMIN2Key" value="P8uBI1FPuqfl/pq9XE6Aw9otBWrGneiUdQ0y10kLUzbspj2P87HZbKGB8/HLsA/ZBq+LgpJqc1gZuQNVXvgB/zld6ZpCP7Vr"/>
    <add key="BRNET_LIVE_COPY-CheckSum1" value="jmoBVVxfURNlSyQV6T3WNC4o3J0fqEAdtQKS1MrWg1CE/Oi62gfTh3BUKMWF4Y35"/>
    <add key="BRNET_LIVE_COPY-CheckSum2" value="6d3RQQLWP53ezO5eI2htFoYNhEswPsNzZFNU/nKAiTco7W4l2J2rD1cVRC/Z6Twi"/>
    <add key="BRNET_LIVE_COPY-CheckSum3" value="auLDMkt4GedFqIxQdRaFGcBJQB6dBLD8ChKPG8mEVFEZXx50ZkByC8CSk5vW7fyP"/>
    <add key="BRNET_LIVE_CBK-DBServerName" value="172.17.40.4,6699"/>
    <add key="BRNET_LIVE_CBK-DatabaseName" value="BRNET_LIVE_CBK"/>
    <add key="BRNET_LIVE_CBK-BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="BRNET_LIVE_CBK-BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="BRNET_LIVE_CBK-BRUserKey" value="NlZkIaoC+3dl/BpjRaNAMAZwvJVa1HTim+NH71bFsT/R5YUbZK1TX6ENpGvQAmyxQ1WfGXUnzuwZt5sNOBfnn+oy30v2BGuR"/>
    <add key="BRNET_LIVE_CBK-SYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="BRNET_LIVE_CBK-SYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    <add key="BRNET_LIVE_CBK-SYSADMIN1Key" value="p1vl+BMrHp7bgg9cnZbCWTrWwCEybVl8f4hSDzaQf5FXheSvduqYqn80/McLGGJz+Pua11ElHVUKYS4qFAJVss7uQ8TyBAEd"/>
    <add key="BRNET_LIVE_CBK-SYSADMIN2UserName" value="lVqM3lZ7rfeCIqbigfuJOznTJugaA/yiiCXLYG0GSps="/>
    <add key="BRNET_LIVE_CBK-SYSADMIN2Password" value="PUHMLO7SyLiutVSv+7XP6IX/oBQ48ynJmifJH2KsvWM="/>
    <add key="BRNET_LIVE_CBK-SYSADMIN2Key" value="P8uBI1FPuqfl/pq9XE6Aw9otBWrGneiUdQ0y10kLUzbspj2P87HZbKGB8/HLsA/ZBq+LgpJqc1gZuQNVXvgB/zld6ZpCP7Vr"/>
    <add key="BRNET_LIVE_CBK-CheckSum1" value="jmoBVVxfURNlSyQV6T3WNC4o3J0fqEAdtQKS1MrWg1CE/Oi62gfTh3BUKMWF4Y35"/>
    <add key="BRNET_LIVE_CBK-CheckSum2" value="6d3RQQLWP53ezO5eI2htFoYNhEswPsNzZFNU/nKAiTco7W4l2J2rD1cVRC/Z6Twi"/>
    <add key="BRNET_LIVE_CBK-CheckSum3" value="auLDMkt4GedFqIxQdRaFGcBJQB6dBLD8ChKPG8mEVFEZXx50ZkByC8CSk5vW7fyP"/>
    
    <add key="BRNET_DEV-DBServerName" value="CSK-BR-DEV-0038"/>
    <add key="BRNET_DEV-DatabaseName" value="BRNET_KCBL"/>
    <add key="BRNET_DEV-BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="BRNET_DEV-BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    
    <add key="BRNET_DEV-BRUserKey" value="NlZkIaoC+3dl/BpjRaNAMAZwvJVa1HTim+NH71bFsT/R5YUbZK1TX6ENpGvQAmyxQ1WfGXUnzuwZt5sNOBfnn+oy30v2BGuR"/>
    <add key="BRNET_DEV-SYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="BRNET_DEV-SYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    <add key="BRNET_DEV-SYSADMIN1Key" value="p1vl+BMrHp7bgg9cnZbCWTrWwCEybVl8f4hSDzaQf5FXheSvduqYqn80/McLGGJz+Pua11ElHVUKYS4qFAJVss7uQ8TyBAEd"/>
    <add key="BRNET_DEV-SYSADMIN2UserName" value="lVqM3lZ7rfeCIqbigfuJOznTJugaA/yiiCXLYG0GSps="/>
    <add key="BRNET_DEV-SYSADMIN2Password" value="PUHMLO7SyLiutVSv+7XP6IX/oBQ48ynJmifJH2KsvWM="/>
    <add key="BRNET_DEV-SYSADMIN2Key" value="P8uBI1FPuqfl/pq9XE6Aw9otBWrGneiUdQ0y10kLUzbspj2P87HZbKGB8/HLsA/ZBq+LgpJqc1gZuQNVXvgB/zld6ZpCP7Vr"/>
    <add key="BRNET_DEV-CheckSum1" value="jmoBVVxfURNlSyQV6T3WNC4o3J0fqEAdtQKS1MrWg1CE/Oi62gfTh3BUKMWF4Y35"/>
    <add key="BRNET_DEV-CheckSum2" value="6d3RQQLWP53ezO5eI2htFoYNhEswPsNzZFNU/nKAiTco7W4l2J2rD1cVRC/Z6Twi"/>
    <add key="BRNET_DEV-CheckSum3" value="auLDMkt4GedFqIxQdRaFGcBJQB6dBLD8ChKPG8mEVFEZXx50ZkByC8CSk5vW7fyP"/>
    <add key="BRNET_UAT-DBServerName" value="172.17.40.4,6699"/>
    <add key="BRNET_UAT-DatabaseName" value="BRNET_UAT"/>
    <add key="BRNET_UAT-BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="BRNET_UAT-BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="BRNET_UAT-BRUserKey" value="NlZkIaoC+3dl/BpjRaNAMAZwvJVa1HTim+NH71bFsT/R5YUbZK1TX6ENpGvQAmyxQ1WfGXUnzuwZt5sNOBfnn+oy30v2BGuR"/>
    <add key="BRNET_UAT-SYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="BRNET_UAT-SYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    <add key="BRNET_UAT-SYSADMIN1Key" value="p1vl+BMrHp7bgg9cnZbCWTrWwCEybVl8f4hSDzaQf5FXheSvduqYqn80/McLGGJz+Pua11ElHVUKYS4qFAJVss7uQ8TyBAEd"/>
    <add key="BRNET_UAT-SYSADMIN2UserName" value="lVqM3lZ7rfeCIqbigfuJOznTJugaA/yiiCXLYG0GSps="/>
    <add key="BRNET_UAT-SYSADMIN2Password" value="PUHMLO7SyLiutVSv+7XP6IX/oBQ48ynJmifJH2KsvWM="/>
    <add key="BRNET_UAT-SYSADMIN2Key" value="P8uBI1FPuqfl/pq9XE6Aw9otBWrGneiUdQ0y10kLUzbspj2P87HZbKGB8/HLsA/ZBq+LgpJqc1gZuQNVXvgB/zld6ZpCP7Vr"/>
    <add key="BRNET_UAT-CheckSum1" value="jmoBVVxfURNlSyQV6T3WNC4o3J0fqEAdtQKS1MrWg1CE/Oi62gfTh3BUKMWF4Y35"/>
    <add key="BRNET_UAT-CheckSum2" value="6d3RQQLWP53ezO5eI2htFoYNhEswPsNzZFNU/nKAiTco7W4l2J2rD1cVRC/Z6Twi"/>
    <add key="BRNET_UAT-CheckSum3" value="auLDMkt4GedFqIxQdRaFGcBJQB6dBLD8ChKPG8mEVFEZXx50ZkByC8CSk5vW7fyP"/>

    <add key="useMQTT" value="FALSE" />
    <add key="mqttHost" value="172.16.2.77" />
    <add key="mqttPort" value="9001" />

    <add key="ConnectionStringSQL" value="Data Source=192.168.0.11\sql2008r2;Initial Catalog=BRNET_BaseVersion;User ID=seluser;Password=friend;"/>
    <add key="DataProviderNameSQL" value="System.Data.SqlClient"/>
    <add key="BRNET_BaseVersion" value="Data Source=192.168.0.11\sql2008r2;Initial Catalog=BRNET_BaseVersion;User ID=seluser;Password=friend;"/>
    <add key="DEFAULTUSER" value="Data Source=192.168.0.11\sql2008r2;Initial Catalog=BRNET_BaseVersion;User ID=seluser;Password=friend;"/>
    <add key="BRDBType" value="SQLSERVER"/>
    <add key="BankID" value="14"/>
    <add key="DeleteTempImages" value="1"/>
    <add key="DateFormat" value="dd/MMM/yyyy"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="ReportVersion" value="BR.Net Ver1.0"/>
    <add key="ReportType" value="directpdf"/>
    <add key="ErrorLogPath" value="C:\BRExceptionLog\"/>
    <add key="DisableCaching" value="false"/>
    <add key="DisableSuperVisionDialog" value="false"/>
    <add key="PretendAsUser" value="Administrator"/>
    <add key="PretendAsPassword" value="tfY38baLa/PRJeVqWYpv1kp2YIQCWb7lC5ADF866Cqw="/>
    <add key="PretendAsDomain" value="10.0.1.19"/>
    <add key="UploadPath" value="\\10.0.1.19\GatewayUploads\"/>
    <!--<add key="ProcessPath" value="\\10.0.1.19\GatewayUploads\"/>-->
    <add key="CheckRequestInterval" value="3000"/>
    <add key="MaxBranchList" value="10"/>
    <add key="UserSessionTimeout" value="120"/>
    <add key="SupervisionRequestTimeout" value="30000"/>
    <add key="MaxSupervisionListMembers" value="50"/>
    <add key="CachedTimeInMinutesPerItem" value="15"/>
    <add key="CheckRequestInterval" value="3000"/>
    <add key="MaxBranchList" value="10"/>
    <add key="UserSessionTimeout" value="120"/>
    <add key="SupervisionRequestTimeout" value="30000"/>
    <add key="MaxSupervisionListMembers" value="50"/>
    <add key="CachedTimeInMinutesPerItem" value="15"/>
    <add key="AuditRequired" value="true"/>
    <!--LoginMode options password,biometric,mixed -->
    <add key="LoginMode" value=""/>
    <add key="AuditType" value=""/>
    <add key="AuditLogPath" value="C:\BRAuditLog\"/>
    <add key="ErrorLogPath" value="C:\BRExceptionLog\"/>
    <add key="RTGSSWIFTPathO" value="F:\RTGSSWIFTFILESOUTGOING\"/>
    <add key="RTGSSWIFTPathI" value="D:/RTGSSWIFTFILESINCOMING/"/>
    <add key="BRNetClearingFilePath" value="E:\\daudi stuff\\BrTfs\\kamunya\\BRBiometricUtility"/>
    <add key="TIPSAPI" value="https://localhost:5001"/>
    <!--<add key="TIPSAPI"  value="https://723b8030-fea1-488a-821c-a463c6f63291.mock.pstmn.io"/>-->
  	<add key="BRGateway_GEPG" value="http://localhost:19605/api/Accounts/"/>
    <add key="GePG_PspCode" value="PSP503"/>
    <add key="GePG_SysCode" value="TCOOPA001"/>
    <add key="GePG_Channel" value="CD"/>
    <add key="GEPG_COM" value="coop.psp.in"/>
    <add key="GEPG_CODE" value="PSP503"/>
    <add key="GEPG_ALG" value="00S2"/>
    <add key="PrivateKeyPath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\mykey.p8.pem"/>
    <add key="PublicKeyPath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\mykey.pubkey.pem"/>
    <add key="CertificatePath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\keystore.p12"/>
    <add key="CertificatePassword" value="password123"/>
    <add key="UseCertificate" value="true"/>
    <add key="EnableEncryption" value="true"/>
    <add key="SharedKey" value="YourSharedSymmetricKeyHere"/>
  </appSettings>
  <connectionStrings>
    <add name="BRNET_BaseVersion" connectionString="Data Source=192.168.0.11\sql2008r2;Initial Catalog=BRNET_BaseVersion;User ID=seluser;Password=friend" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="ASPNETExpert.WebControls, Version=2.5.2036.26970, Culture=neutral, PublicKeyToken=35F3F9E6D8F8617D" />-->
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="Infragistics2.WebUI.Misc.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
        <add assembly="Infragistics2.WebUI.Shared.v6.2, Version=6.2.20062.34, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
        <!--<add assembly="CrystalDecisions.ReportAppServer.DataSetConversion, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.PluginManager, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.CommonControls, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.CubeDefModel, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.KeyCode, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.XmlSerialize, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ObjectFactory, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.CommLayer, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.CommonObjectModel, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ReportDefModel, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
        <!--<add assembly="office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />-->
        <add assembly="Microsoft.Vbe.Interop, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
    </compilation>
    <authentication mode="None"/>
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="BRClient.BRHttpHandlerFactory"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
    <httpCookies httpOnlyCookies="true"/>
    <httpRuntime enableVersionHeader="false" maxRequestLength="2048" executionTimeout="240" requestValidationMode="2.0" maxQueryStringLength="2048" maxUrlLength="2048"/>
    <trace enabled="false" localOnly="true"/>
    <sessionState timeout="52" cookieless="UseCookies" mode="InProc"/>
    <httpModules>
      <remove name="PassportAuthentication"/>
      <remove name="Profile"/>
      <remove name="AnonymousIdentification"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
    </handlers>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="true"/>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime xmlns="">
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71e9bce111e9429c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>