<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="ConnectionType" value="Socket" />
    <add key="sysEnc" value="0" />
    <!-- 1= old panini, 2 - CTS, 3 - Epson, 4 - New Panini-->
    <add key="ReaderType" value="2" />
    <add key="sysType" value="BR" />
    <add key="UniqueFilename" value="1" />
    <!-- Mkombozi-->
    <!--<add key="IncomingFiles" value="C:\Kamunya\Mkombozi\Files\FromTACH\Temp"/>
    <add key="OutgoingFiles" value="C:\Kamunya\Mkombozi\Files\ToTACH\Temp"/>
    <add key="strBatchPath" value="C:\Kamunya\Mkombozi\Clearing\Cert\SignatureClient\"/>
    <add key="strDSkeyFile" value="C:\Kamunya\Mkombozi\Clearing\Cert\MKCBTZTZ.jks"/>
    <add key="ClearingErrorLogFilePath" value="C:\Kamunya\Mkombozi\Clearing\"/>
    <add key="ClearingArchives" value="C:\Kamunya\Mkombozi\Archives"/>-->
    <!-- Covenant-->
    <add key="sysChekSum" value="0"/>
    <add key="strDSkeyFile" value="C:\Kamunya\Covenant\clearing\Cert\CBFWTZTZ.jks"/>
    <add key="keypass" value="passphrase"/>
    <add key="strJavaExeInstallation" value="C:\Program Files\Java\jre7\bin\java.exe"/>
    <add key="ClearingErrorLogFilePath" value="C:\Kamunya\Covenant\clearing\"/>
    <add key="ClearingArchives" value="C:\Kamunya\Covenant\TACH\TACHfiles\Archives"/>
    <add key="IncomingFiles" value="C:\Kamunya\Oriental\File to read"/>
    <add key="OutgoingFiles" value="C:\Kamunya\Oriental\File to read"/>
    <add key="strBatchPath" value="C:\Kamunya\Covenant\clearing\Cert\SignatureClient\"/>
    <add key="BankID" value="00" />
    <add key="ImageFormat" value="0" />
    <add key="OurBranchID" value="001" />
    <!-- UG= Uganda, KE - Kenya, SL - Seirra Lione, SA - South Africa, ET - Ethiopia, TZ - Tanzania, ID - India, RD - Rwanda, SS - South Sudan-->
    <add key="CountryCode" value="KE" />
    <add key="Country" value="KE" />
    <add key="strSystem" value="BRNET_LIVE" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>