<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IncomingFiles" value="C:\temp\gateway\output"/>
    <add key="OutgoingFiles" value="C:\GeneratedDemoTestFiles\Outgoing"/>
    <add key="BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="DatabaseName" value="CBS_SIDAMA_LIVE"/>
    <add key="DBServerName" value="DEVK\SQL2022"/>
     <!--<add key="DBServerName" value="172.21.7.40"/>-->
    <add key="Archive" value="C:\temp\Archive"/>
    <add key="HQBranchID" value="0101"/>
    <add key="Integrated" value="0"/>
    <add key="CountryCode" value="ET"/>
    <add key="LogsFolder" value="C:\temp"/>
    <add key="BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="SYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="SYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    <add key="PrivateKeyPath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\mykey.p8.pem"/>
    <add key="PublicKeyPath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\mykey.pubkey.pem"/>
    <add key="CertificatePath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\keystore.p12"/>
    <add key="CertificatePassword" value="password123"/>
    <add key="UseCertificate" value="true"/>
    <add key="EnableEncryption" value="true"/>
    <add key="SharedKey" value="YourSharedSymmetricKeyHere"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
