<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BRNETUploadDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="BRNetUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BRNetUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="BRNETUploadDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <BRNETUploadDownload.Properties.Settings>
      <setting name="BRNETUploadDownload_ImportExportService_Service" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
    </BRNETUploadDownload.Properties.Settings>
    <BRNetUtility.Properties.Settings>
      <setting name="BRNETUploadDownload_ImportExportService_Service" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
      <setting name="BRNETUploadDownload_WebIEService_IEService" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
      <!-- ////////////////////////////////////////// -->
    </BRNetUtility.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="BRDBType" value="SQLSERVER"/>
    <add key="HeadOfficeBranchID" value="000"/>
    <add key="BankID" value="51"/>
    <add key="OurBranchID" value="000"/>
    <add key="MFIBranchID" value="00"/>
    <!-- ////////////// NOTE!!! ////////////////////// -->
    <!-- 1 = Connect to Live Environment, 0 = connect to Test Environment -->
    <add key="IsLiveEnv" value="1"/>
    <!-- //////////////////////////////////////// -->
    <add key="CachedTimeInMinutesPerItem" value="15"/>
    <add key="DataAccessTimeOut" value="120"/>
    <add key="ImagePath" value=""/>
    <add key="sysEnc" value="0"/>
    <add key="Rem" value="1"/>
    <add key="ClearMFI" value="1"/>
    <add key="Trunc" value="1"/>
    <add key="sysType" value="BRNET"/>
    <add key="ReaderType" value="2"/>
    <add key="strSystem" value="JAN_27_2015"/>
    <add key="CountryCode" value="TZ"/>
     <add key="Country" value="TZ"/>

    <add key="DefaultLanguage" value="en"/>
    <add key="AuditRequired" value="true"/>
    <add key="AuditType" value=""/>
    <add key="Module" value=""/>
    <add key="ETACH" value="true"/>
    <add key="keypass" value="TWFlbmRlbGVvQDIwMjU="/>
    <add key="CertUser" value="mbtltztz"/>
    <add key="TokenBase" value="false"/> 
    <add key="Sign" value="true"/> 
    <add key="IncomingFiles" value="C:\temp\Incoming"/>
    <add key="IncomingSignedFiles" value="C:\GeneratedDemoTestFiles\Incoming"/>
    <add key ="Responses" value ="C:\temp\gateway\output"/>
    <add key="Archive" value="E:\Clearing_Production\Prod_Files\ToTach\Archive"/>
    <add key="OutgoingFiles" value="D:\Clearing_Production\Prod_Files\ToTach\Outgoing"/>
    <add key="OutgoingSignedFiles" value="D:\Clearing_Production\Prod_Files\ToTach\Outgoing"/>
    <add key="MIPsEFTUploadPath" value=""/>
     <add key="strBatchPath"  value="C:\Cert\SignatureClient\"/>
    <add key="strDSkeyFile" value="C:\Cert\MBTLTZTZ.jks"/>
    <add key="strJavaExeInstallation" value="C:\Program Files\Java\jre1.8.0_481\bin\java.exe"/>
    <add key="strPGPExe" value="C:\Program Files (x86)\GnuPG\bin\gpg.exe"/>
    <add key="ClearingErrorLogFilePath" value="E:\Clearing_Production\Prod_Files\Logs\"/>
    <add key="ClearingArchives" value="D:\Clearing_Production\Prod_Files\Logs"/>
   <add key="configFilePath" value="D:\Clearing_Production\Prod_Files\Web.config"/>
    <add key="BRSystem" value="BRNET_TEST_ARUSHA"/>
   
    <!-- ////////////// NOTE!!! ///////////////////// -->
    <!-- IP Address for Test Server -->
    <add key="IPAddress" value="10.10.100.250\MNLDHQIBDBLIVE"/>
   
    <!-- Name of Test DB -->
    <add key="TestDBName" value="BRNET_CHEQUE"/>
    <!-- //////////////////////////////////////// -->
    <add key="AuditLogPath" value="C:\BRAuditLog\"/>
    <add key="ErrorLogPath" value="C:\BRExceptionLog\"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <userSettings>
    <BRNETUploadDownload.Properties.Settings>
      <setting name="ImportExportService" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
    </BRNETUploadDownload.Properties.Settings>
    <BRNetUtility.Properties.Settings>
      <setting name="ImportExportService" serializeAs="String">
        <value>http://localhost:12451/BRClearingService/BRClearingService.asmx</value>
      </setting>
      <!-- ////////////////////////////////////////// -->
    </BRNetUtility.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
