<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 <system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<appSettings>
		<add key="ConnectionType" value="Socket"/>
    <add key="sysType" value="BRNET"/>
    <add key="Trunc" value="0"/>
    <add key="ReaderType" value="4"/>
    <add key="isDDMan" value="1"/>
    <add key="TokenBase" value="false"/>
    <!--<add key="strJavaExeInstallation" value="C:\Program Files\Java\jre7\bin\java.exe"/>-->
    <!-- Mkombozi-->
    <!--<add key="IncomingFiles" value="C:\Kamunya\Mkombozi\Files\FromTACH\Temp"/>
    <add key="OutgoingFiles" value="C:\Kamunya\Mkombozi\Files\ToTACH\Temp"/>
    <add key="strBatchPath" value="C:\Kamunya\Mkombozi\Clearing\Cert\SignatureClient\"/>
    <add key="strDSkeyFile" value="C:\Kamunya\Mkombozi\Clearing\Cert\MKCBTZTZ.jks"/>
    <add key="ClearingErrorLogFilePath" value="C:\Kamunya\Mkombozi\Clearing\"/>
    <add key="ClearingArchives" value="C:\Kamunya\Mkombozi\Archives"/>-->
    <!-- Covenant-->
    <add key="strDSkeyFile" value="E:\Source\Mkombozi\Certs\MKCBTZTZ.jks"/>
    <add key="keypass" value="passphrase"/>
    <add key="ClearingErrorLogFilePath" value="C:\Kamunya\Covenant\clearing\"/>
    <add key="ClearingArchives" value="C:\Kamunya\Covenant\TACH\TACHfiles\Archives"/>
    <add key="IncomingFiles" value="F:\K-UNITY CHEQUE TRUNCATION\Files\Incoming"/>
    <add key="OutgoingFiles" value="C:\GeneratedDemoTestFiles\Outgoing\Temp"/>
    <add key="strBatchPath" value="E:\Source\Mkombozi\Cert\SignatureClient\"/>
    <add key="strJavaExeInstallation" value="C:\Program Files\Java\jre1.8.0_181\bin\java.exe"/>
    <add key="BankID" value="51"/>
    <add key="sysChekSum" value="0"/>
    <add key="Rem" value="1"/>
    <add key="Sign" value="true"/>
    <add key="BankIDSize" value="3"/>
    <add key="TempImageDrive" value="C:\"/>
    <add key="OurBranchID" value="000"/>
    <!-- UG= Uganda, KE - Kenya, SL - Seirra Lione, SA - South Africa, ET - Ethiopia, TZ - Tanzania, ID - India, RD - Rwanda, SS - South Sudan-->
    <add key="CountryCode" value="KE"/>
    <add key="strSystem" value="BRNET"/>
    <add key="BRSystem" value="BRNET_ECLOF"/>
    <add key ="configFilePath" value = "D:\Source\Guardian Bank\TFS_REVAMP\BRClient\web.config"/>

    <!-- 1= old panini, 2 - CTS, 3 - Epson, 4 - New Panini-->
		<add key="ClientSettingsProvider.ServiceUri" value=""/>

    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="BRNET_MHB_LIVE_TEST"/>
    <add key="strDBServerName" value="192.168.1.184"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->

    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="BRNET_JBBPRODUCTION_ACH"/>
    <add key="strDBServerName" value="10.0.1.130"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->

    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="CRBSource"/>
    <add key="strDBServerName" value="192.168.101.224"/>
    <add key="strBRUserPassword" value="yDbxB+9zJw1Pyi8oPvjDyvkT5pWvzHm5g0fcX/lzPZg="/>
    <add key="strSYSADMIN1UserName" value="/8UX/xgvJcT/4BXndXBoECLchmKHEnx3kzEfOuTgGG8="/>
    <add key="strSYSADMIN1Password" value="RyS6AbNIPWVoeYnfuh2jQ9K1alJiAcc3TCZc7SJpeeg="/>-->

    <add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="CLEARING"/>
    <add key="strDBServerName" value="10.10.100.237"/>
    <add key="strBRUserPassword" value="NJy3hg/Ftvx/I88BkLdQorCuGPj0xruK9Ngek6kPdj8lxWfDMg3hEMhU8BXsf5+l"/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>

    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="BRNET_JBBPRODUCTION"/>
    <add key="strDBServerName" value="172.16.2.18"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->

    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="MKCB"/>
    <add key="strDBServerName" value="172.16.2.13\sql2014"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->

    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="BRNET_MHB_LIVE"/>
    <add key="strDBServerName" value="172.16.2.13\sql2017"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    
    
     <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
	   <add key="strDatabaseName" value="BRNET_GBL_Jun2023"/>
	   <add key="strDBServerName" value="172.17.40.4,6699"/>
	   <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
	   <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
	   <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    
    
     <!--<add key="strDBServerName" value="10.0.1.18" />
     <add key="strDatabaseName" value="BRNET_JBBPRODUCTION" />
     <add key="strBRUserName" value="lqybviTDS5naFHeypVHR949Fe67wVVkRKXwdBXdWNCc6rMvY0kDz2ZRfMmqn6Z78" />
     <add key="strBRUserPassword" value="aOcOF+Yp5xzD+JeVSfT0c6BPMIAh4Qwz+cuQRPYan5xaWsoHo5cyCsXuLfL2i+G9Ow2v3Fk/cRHusOozInirjToLbbY2sZFj" />
     <add key="strSYSADMIN1UserName" value="34afStvO+QAZjpOJw4XSAh+iKP103gLG01rlp1lOM1g=" />
     <add key="strSYSADMIN1Password" value="+M6NFewje97Z4qC1lWSqKgKtbtaOEOWNEIQ3tGisgV6T5N6jj9wLoPLkok1gh2Kr" />-->
    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="BRNET_Paramount"/>
    <add key="strDBServerName" value="172.16.2.13\sql2014"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->


    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="CBS_TSEDEYREPORTS1"/>
    <add key="strDBServerName" value="10.10.102.13\DB1_REPORT"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>-->
    
    <!--<add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="Mkombozi"/>
    <add key="strDBServerName" value="172.16.2.13\sql2012"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>--><!--
    <add key="PrivateKeyPath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\mykey.p8.pem"/>
    <add key="PublicKeyPath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\mykey.pubkey.pem"/>
    <add key="CertificatePath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\keystore.p12"/>
    <add key="CertificatePassword" value="password123"/>
    <add key="UseCertificate" value="true"/>
    <add key="EnableEncryption" value="true"/>
    <add key="SharedKey" value="YourSharedSymmetricKeyHere"/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<system.serviceModel>
  <bindings/>
  <client/>
 </system.serviceModel>
 <applicationSettings>
  <BrClearing.My.MySettings>
   <setting name="BrClearing_WebService_IEService" serializeAs="String">
    <value>http://192.168.101.18:4200/GatewayService/IEService.asmx</value>
   </setting>
  </BrClearing.My.MySettings>
 </applicationSettings>
</configuration>
