<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Set to true to test Certificate encryption -->
    <add key="UseCertificate" value="false"/>
    <add key="CertificatePath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\keystore.p12"/>
    <add key="CertificatePassword" value="password123"/>
    
    <add key="PublicKeyPath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\mykey.pubkey.pem"/>
    <add key="PrivateKeyPath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\mykey.p8.pem"/>
    <add key="EnableEncryption" value="true"/>
    
    <add key="SharedKey" value="YourSharedSymmetricKeyHere"/>
  </appSettings>
</configuration>
