<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UseCertificate" value="true"/>
    <add key="CertificatePath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\certificate.pfx"/>
    <add key="CertificatePassword" value="pass"/>
    <add key="Sign" value="false"/>           <!-- THIS IS CRITICAL -->
    <add key="EnableEncryption" value="true"/>
    
    <add key="PublicKeyPath" value="dummy.pub"/>
<add key="PrivateKeyPath" value="dummy.pri"/>
    <add key="SharedKey" value="YourSharedSymmetricKeyHere"/>
  </appSettings>
</configuration>