<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="ConnectionType" value="Socket"/>
    <add key="sysEnc" value="0"/>
    <!-- 1= old panini, 2 - CTS, 3 - Epson, 4 - New Panini-->
    <add key="ReaderType" value="2"/>
    <add key="sysType" value="BRNET"/>
    <add key="UniqueFilename" value="1"/>
    <add key="AcceptsOddCents" value ="0"/>
    <add key="Stamp" value ="0"/>
    <!-- Mkombozi-->
    <!--<add key="IncomingFiles" value="C:\Kamunya\Mkombozi\Files\FromTACH\Temp"/>
    <add key="OutgoingFiles" value="C:\Kamunya\Mkombozi\Files\ToTACH\Temp"/>
    <add key="strBatchPath" value="C:\Kamunya\Mkombozi\Clearing\Cert\SignatureClient\"/>
    <add key="strDSkeyFile" value="C:\Kamunya\Mkombozi\Clearing\Cert\MKCBTZTZ.jks"/>
    <add key="ClearingErrorLogFilePath" value="C:\Kamunya\Mkombozi\Clearing\"/>
    <add key="ClearingArchives" value="C:\Kamunya\Mkombozi\Archives"/>-->
    <!-- Covenant-->
    <add key="isLegacyDDs" value="0"/>
    <add key="sysCheckSum" value="1"/>
    <add key="strDSkeyFile" value="C:\Kamunya\Covenant\clearing\Cert\CBFWTZTZ.jks"/>
    <add key="keypass" value="passphrase"/>
    <add key="strJavaExeInstallation" value="C:\Program Files\Java\jre1.8.0_181\bin\java.exe"/>
    <add key="ClearingErrorLogFilePath" value="C:\Kamunya\Covenant\clearing\"/>
    <add key="ClearingArchives" value="C:\Kamunya\Covenant\TACH\TACHfiles\Archives"/>
    <add key="IncomingFiles" value="E:\Test Folder\New folder (2)"/>
    <add key="OutgoingFiles" value="C:\Kamunya\Oriental\File to read"/>
    <add key="strBatchPath" value="C:\Kamunya\Covenant\clearing\Cert\SignatureClient\"/>
    <add key="BankID" value="51"/>
    <add key="Rem" value="1"/>
    <add key="ImageFormat" value="0"/>
    <add key="TempImageDrive" value="C:\"/>
    <add key="OurBranchID" value="001"/>
    <add key="BankIDSize" value="3"/>
    <!-- UG= Uganda, KE - Kenya, SL - Seirra Lione, SA - South Africa, ET - Ethiopia, TZ - Tanzania, ID - India, RD - Rwanda, SS - South Sudan-->
    <add key="CountryCode" value="TZ"/>
    <add key="Country" value="TZ"/>
    <add key="strSystem" value="BRNET_LIVE"/>
    <add key="strBRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
    <add key="strDatabaseName" value="CLEARING"/>
    <add key="strDBServerName" value="10.10.100.227"/>
    <add key="strBRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <add key="strSYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="strSYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    <add key="isDDMan" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
