<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="keypass" value="cGFzc3dvcmQ=" />
    <add key="HeadOfficeBranchID" value="000"/>
    <add key="Archive" value="C:\GeneratedDemoTestFiles\Archive" />
    <add key="IncomingFiles" value="C:\GeneratedDemoTestFiles\Incoming\" />
    <add key="OriginalFiles" value="C:\GeneratedDemoTestFiles\OriginalFiles\" />
	  
    <add key="strBatchPath" value="C:\ClearingFiles\Cert\SignatureClient\" />
    <add key="strDSkeyFile" value="C:\ClearingFiles\Cert\MBTLTZTZ.jks"/>
    <add key="ClearingErrorLogFilePath" value="C:\TestEJs"/>
	  <add key="keypass" value="cGFzc3dvcmQ="/>
		<!-- UEBzc1BockBzZQ=="/>-->
    <add key="strJavaExeInstallation" value="C:\Program Files\Java\jre1.8.0_481\bin\java.exe" />
    <add key="CountryCode" value="TZ" />
    <add key="maxRetries" value="3" />
    <add key="CertUser" value="MBTLTZTZ" />
    <add key="TokenBase" value="false" />
    <add key="Sign" value="true" />
	  
    <add key="configFilePath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\Web.config" />
    <add key="BRSystem" value="BRNET_KCBL" />
    <add key="SystemUser" value="str" />
    <add key="sysType" value="BRNET"/>
    <!--<add key="str-BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>-->
	  
	<!--<add key="str-DBServerName" value="172.16.3.240,1433"/>-->
   
    <add key="str-DBServerName" value="CSK-BRNET-003"/>
	  <add key="str-DatabaseName" value="BRNET_MB_LIVE"/>
	  
	<add key="str-BRUserName" value="ZAeuErdlFU6Sqye67u2MqxVAcivNQOM42iqslajFRLo="/>
	 <add key="str-BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>
    <!--<add key="str-BRUserPassword" value="Z9DFQqbapr+TQsNUI33x7ahse2ZnI6S0Qgy9LY6FuZM="/>-->
    <add key="str-SYSADMIN1UserName" value="InVnD9ONPGJcyHCGAd/2dqceQP1rywE1cegQTymz6XY="/>
    <add key="str-SYSADMIN1Password" value="E5X9GF0JV+2MGJr4nJOtmvrBlOgj2JGufqLgajRpD1M="/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PrivateKeyPath" value="path_to_private_key.pem"/>
    <add key="PublicKeyPath" value="path_to_public_key.pem"/>
    <add key="CertificatePath" value="C:\Users\alex.ndegwa\Desktop\Clearing\ACH\keys\keystore.p12"/>
    <add key="CertificatePassword" value="password123"/>
    <add key="UseCertificate" value="true"/>
    <add key="SharedKey" value="YourSharedSymmetricKeyHere"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>